*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Georgia;

}


header{
    background-color: rgb(125, 128, 141);
    height: 300px;
    
}


h3{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 5rem 0;
    color: #f2d1f5;
}


body{
    background-color: #f7f7f8;
    max-width: 100%;

}


.container{
    background-color: #d1d3e0;
    margin: 50px auto;
    padding: 5rem 2rem;
    text-align: center;
    max-width: 80%;
    justify-content: space-between;
    position: relative;
    top: -140px;
    border-radius: 10% 0 10% 0;
}

.container li{
    display: inline-block;
    padding: 0 4rem;
}

.container .texto{
    font-size: 20px;
}

.container .autor{
    text-decoration: underline;
    padding: 2rem 0;
    font-style: italic;
    font-weight: 400;
}

.container h1{
    text-transform: capitalize;
    padding: 2rem 0;
    
}

.titulos{
    font-size: 30px;
    font-weight: 600;
}
